.mainMenu {
    -fx-background-color: #5EB7F9;
    -fx-border-width: 2px;
    -fx-border-color: black;
}

.titleBar {
    -fx-background-color: #1E3F5A;
}

.content {
    -fx-background-color: #0EBFE9;
}

.textField {
    -fx-control-inner-background: #FFFFFF;
}

.table-row-cell:selected {
    -fx-background-color: steelblue;
}
.table-row-cell:selected .text {
    -fx-fill: white ;

}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-background-color: #95C8D8;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: #73C2FB;
}

.text-field.error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

.list-view .list-cell{
    -fx-background-color: #73C2FB;
    -fx-text-fill: black;
}

.list-view .list-cell:selected{
    -fx-background-color: steelblue;
    -fx-text-fill: white;
}

.text-area .content{
    -fx-background-color: #73C2FB;
    -fx-text-fill: black;
}
.text-field .content{
    -fx-background-color: #73C2FB;
    -fx-text-fill: black;
}

.dialog-pane{
    -fx-border-color:black;
    -fx-border-width:2.0px;
}



